{% extends 'base.html.twig' %}

{% block title %}Hello UserEditController!{% endblock %}

{% block body %}
    {% for message in  app.flashes('editOk') %}
        <div class="result">
            {{ message }}
        </div>
    {% endfor %}
    <div class="container">
        <h2>Choisir un utilisateur</h2>
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Saisir le nom d'utilisateur.." title="Saisir le nom d'utilisateur">
        <ul id="myUL">
            {% for user in users %}
                <li>
                    <a href="{{ path('user_edit_page',{id: user.id}) }}"> {{ user.username }}</a>
                </li>

            {% endfor %}
        </ul>
    </div>
{% endblock %}
